{% load static %}

<header class="container d-flex mb-3">
    <div class="header-menu">
        <a href="/">
            <img id="header-logo" src="{% static 'home/img/logo.png' %}" alt="logo">
        </a>
        <a href="/about">Sobre</a>
        <a href="/history">História</a>
    </div>
    <div class="header-user">
        {% if user.is_authenticated %}
            {% if user.is_superuser %}
                <a href="/admin">
                    <i class="fas fa-tools"></i>
                    Admin
                </a>
            {% endif %}
            <a href="/users/logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
        {% else %}
            <a href="/users/login">
                <i class="fas fa-sign-in-alt"></i>
                Login
            </a>
            <a href="/users/register">
                <i class="fas fa-user-plus"></i>
                Register
            </a>
        {% endif %}
    </div>
</header>