{% extends 'includes/base.html' %}
{% load static %}

{% block title %}Bazar Digital - Admin{% endblock %}

{% block content %}

    <link rel="stylesheet" href="{% static 'home/css/products.css' %}">
    <div class="container mt-4">
        <h2>{{product.name}}</h2>
        <small><a href="/product?category={{product.category.name}}">{{product.category.name}}</a></small>
        <div class="row">
            <div class="col-md-6">
                {% if product.image %}
                    <img src="{{product.image.url}}" alt="{{product.name}}" class="img-fluid">
                {% endif %}
            </div>
            <div class="col-md-6">
                <h3>Descrição</h3>
                <p>{{product.description}}</p>
                <h3>Preço</h3>
                <p>R$ {{product.price}}</p>
                <button class="btn btn-lg btn-primary">
                    <i class="fas fa-shopping-cart"></i>
                    Comprar
                </button>
            </div>
    </div>
{% endblock %}
